@import '../main';

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    margin: auto;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 4rem;
    gap: 2rem;

    //* Left Hero
    .left-hero {
        display: grid;
        width: 50%;
        height: 512px;

        h1 {
            font-weight: 400;
        }

        .left-hero-cover,
        .left-hero-cover-2 {
            grid-column: unset;
            width: 200px;
            height: auto;
            margin: 0 auto;
            margin-top: 2rem;
            gap: 2rem;
            z-index: -1;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .left-hero-cover-2 {
            filter: grayscale(100%);
        }
    }



    //* Right Hero
    .right-hero {
        display: flex;
        align-items: end;
        width: 50%;
        height: 512px;
    }

    .right-hero:before {
        content: '';
        border-left: 1px solid $black;
        height: 80%;
    }

    .right-hero-cover {
        grid-column: unset;
        width: 512px;
        height: auto;
        border: 1px solid $black;
        box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
    }

    a,
    a:hover {
        text-decoration: underline;
        color: $black;
        cursor: pointer;
    }
}